# This is a sample build configuration for JavaScript.
# Check our guides at https://confluence.atlassian.com/x/14UWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: node:alpine
pipelines:
  tags:
    "*":
      - step:
          caches:
            - node
          script:
            - apk update && apk add --no-cache curl git openssh
            - npm install --global vsce yarn
            - yarn install
            - vsce package --yarn
            - curl -X POST "https://${BITBUCKET_USERNAME}:${BITBUCKET_APP_PASSWORD}@api.bitbucket.org/2.0/repositories/${BITBUCKET_REPO_OWNER}/${BITBUCKET_REPO_SLUG}/downloads" --form files=@"/opt/atlassian/pipelines/agent/build/vscode-extensio-flutter-bloc-architecture-${BITBUCKET_TAG}.vsix"
